# ============================================================
# ansible.cfg
# Projet      : Internal Developer Platform (IDP)
# Auteur      : Doaa Ben Marzouk
# Description : Configuration générale d'Ansible
# ============================================================

[defaults]
inventory           = inventory/hosts.yml
host_key_checking   = False
remote_usr= rocky
interpreter_python  = auto_silent
stdout_callback     = yaml
deprecation_warnings = False

[ssh_connection]
pipelining = True
